/* Glocal Login  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  background-color: #1d1d1d;
  height: 100%;
  margin: 0
}

body {
  display: flex;
  flex-direction: column;
}



button  {
  cursor: pointer;
  color: #fff;
  background-color: rgb(0, 132, 255);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}


input {
  margin: 10px 0;
  width: 100%;
  outline: 0;
  border: thin solid;
  padding: 7px 4px;
  border-radius: 6px;
  margin-top: 10px;
}

:disabled {
  background-color: #ccc;
  cursor: not-allowed
}


/* Specific Login  */


#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
  }
  
  #login .form_login {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    border: 0.6px solid #00ffff;
    border-radius: 10px;
  }
  
  #login .form_login button {

    margin: 10px;
    margin-top: 20px;

  }

  // Container dos botoes
  #login .form_login #button-container {
    display: flex;
    align-items: center;
    justify-content: center;

  }


  #login .loginLabel {
      color: #fff;

  }

  #login .passwordLabel {
    color: #fff;

}

#login .copyRight > img{
  height: 220px;
}

footer {
  color: #00ffff;
  font-size: 12px;
  padding: 10px;
}

